In [ ]:
] add Distributions

In [ ]:
using CSV
using DataFrames
using DataFramesMeta
using ODBC
using Distributions
using StatsBase

In [ ]:
bs = "bulk_bookstore_dataset.csv"

In [ ]:
df = CSV.read(read(bs), DataFrame);

In [ ]:
df = @chain df begin
    @rtransform $[:crap, :genre, :name] = begin
        x = split(:Breadcrumbs, "|")
        get.(Ref(x), 1:3, missing)
    end
end

In [ ]:
df.rating = rand(Uniform(1,5),nrow(df));

In [119]:
aDf = CSV.read(read("iAuthors.csv"), DataFrame; header=["id", "FirstName", "LastName", "Biography", "PublisherId"]);

In [120]:
aDf.author = [row.FirstName * ' ' * row.LastName for row in eachrow(aDf)];

In [121]:
nrow(aDf)

186

In [122]:
aDf = unique(aDf, :author);

In [123]:
nrow(aDf)

186

In [124]:
first(aDf,1)

1×6 DataFrame
 Row │ id     FirstName  LastName  Biography                          Publishe ⋯
     │ Int64  String15   String31  String                             Int64    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1  Pauline    Baynes    CLIVE STAPLES LEWIS (1898-1963) …           ⋯
                                                               2 columns omitted

In [ ]:
df.ISBN = [SubString(s,3,15) for s in df.ISBN];
df.ISBN = [parse(Int64,s) for s in df.ISBN];

In [117]:
iDf = CSV.read(read("iBooks.csv"), DataFrame; header=[:id, :ISBN, :name, :Price, :rating, :GenreId, :PublisherId, :year,:copies, :description]);

In [118]:
first(iDf,1)

1×10 DataFrame
 Row │ id     ISBN           name            Price    rating   GenreId  Publis ⋯
     │ Int64  Int64          String          Float64  Float64  Int64    Int64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1  9780060001261  Less Than Zero     5.99  3.02772        1         ⋯
                                                               4 columns omitted

In [97]:
authors = String[]
for row in eachrow(iDf)
    author = String(strip(df[only(findall(==(row.ISBN), df.ISBN)), :].Author))
    # println(author)
    author = split(author, ",")
    push!(authors, String(strip(author[1])))
end
# println(length(authors))
# println(nrow(iDf))

In [ ]:
df.copies = rand(1000:1000000,nrow(df));

In [ ]:
# df.pub = [x.match for x in match.(r"^(\w+)", df.Publisher)]
df.PublisherId = [StatsBase.sample([1,2,3]) for _ in range(start=1, end=nrow(df))]

In [ ]:
df.year = [parse(Int64,x.match) for x in match.(r"(\d{4})", df.Publisher)];

In [ ]:
odf = CSV.read(read("out.csv"), DataFrame);

In [ ]:
df.description = odf[:,"description"];

In [ ]:
df.ISBN = [SubString(s,3,15) for s in df.ISBN];

In [ ]:
df.ISBN = [parse(Int64,s) for s in df.ISBN];

In [103]:
df = df[completecases(df),:]
disallowmissing!(df);

In [104]:
nSet = Set()

Set{Any}()

In [105]:
pdf = DataFrame()
for row in eachrow(df)
    twoNames = split(row.Author, ",")
    for name in twoNames
        name = strip(String(name))
        row.Author = name 
        push!(pdf, row)
        push!(nSet, name)
    end
end

In [ ]:
saDf = DataFrame([:AuthorId=>[], :Author=>[]])
for (i, val) in enumerate(nSet)
    push!(saDf, [i strip(val)])
    # println(nrow(filter(:Author => n -> n == val, df)))
    # filter(:Author => n -> n == val, df).AuthorId .= i
    # df[:AuthorId, filter(:Author => n -> n == val, df)] .= i
    # @. df.AuthorId = ifelse(df.Author == val, i, df.AuthorId)
    # println(filter(:Author => n -> n == val, df).AuthorId)
    # println(i)
end

In [ ]:
print(nrow(saDf))

In [ ]:
afiles = readdir("./au", join=true)

In [ ]:
adf = CSV.read(read(afiles[1]), DataFrame)
for file in afiles[2:end]
    adf =  vcat(adf, CSV.read(read(file), DataFrame));
end

In [ ]:
adf = adf[completecases(adf),:]

In [ ]:
nrow(saDf)

In [ ]:
function parseFirstName(s::String)::String
    names = split(s, " ")
    if length(names) == 3
        return names[1] * " " * names[2]
    end
    return names[1]
end

In [ ]:
function parseLastName(s::String)::String
    names = split(s, " ")
    if length(names) == 3
        return names[3]
    end
    if length(names) < 2
        println(s)
        return ""
    end
    return names[2]
end

In [ ]:
aDf = DataFrame([:id=>[], :FirstName=>[], :LastName=>[], :Biography=>[], :PublisherId=>[], :Author=>[]])
for row in eachrow(adf)
    authors =  pdf[findall(==(row.ISBN), pdf.ISBN), :].Author
    for author in eachrow(authors)
        author = String(strip(String(author[1])))
        try
            AuthorId = saDf[only(findall(==(author), saDf.Author)), :].AuthorId
            push!(aDf, [AuthorId parseFirstName(author) parseLastName(author) row.biography 1 author])
        catch e
            println(e)
            println(author)
            continue
        end    
    end
end

In [ ]:
df = filter(:Author => i -> (i ∈ aDf.Author), pdf);

In [ ]:
nrow(df)
# df.AuthorId =[aDf[only(findall(==(row.Author), aDf.author)), :].id for row in eachrow(df)];

In [ ]:
genres = CSV.read(read("genres.csv"), DataFrame);

In [ ]:
df.GenreId = [rownumber(genres[only(findall(==(row.genre), genres.genre)), :]) for row in eachrow(df)];

In [ ]:
df.Price = [parse(Float64, SubString(s,2)) for s in df.Price]

In [ ]:
CSV.write(".\\books.csv", df[:,[:ISBN, :name, :Price, :rating, :GenreId, :PublisherId, :year,:copies, :description]]; openquotechar='"', closequotechar='"', escapechar='"', quotestrings=true)

In [ ]:
nrow(aDf)

In [ ]:
aDf = unique(aDf, :id)

In [ ]:
CSV.write(".\\authors.csv", aDf[:,[:id, :FirstName, :LastName, :Biography, :PublisherId]]; openquotechar='"', closequotechar='"', escapechar='"', quotestrings=true)

In [ ]:
df = CSV.read(read("iBooks.csv"), DataFrame; header=[:id, :ISBN, :name, :Price, :rating, :GenreId, :PublisherId, :year,:copies, :description]);

In [126]:
book_authors = DataFrame([:BookId=>[],:AuthorId=>[]] )

0×2 DataFrame
 Row │ BookId  AuthorId
     │ Any     Any
─────┴──────────────────

In [ ]:
author = "Lynn Sweat"
aDf[findall(==(author), aDf.Author), :]

In [108]:
first(aDf,1)

1×6 DataFrame
 Row │ id     FirstName  LastName  Biography                          Publishe ⋯
     │ Int64  String15   String31  String                             Int64    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1  Pauline    Baynes    CLIVE STAPLES LEWIS (1898-1963) …           ⋯
                                                               2 columns omitted

In [125]:
first(pdf,1)

1×23 DataFrame
 Row │ Title              Url                                Price    ISBN-10  ⋯
     │ String             String                             String7  String15 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ b'Less Than Zero'  https://bulkbookstore.com/less-t…  $5.99    00600012 ⋯
                                                              20 columns omitted

In [127]:
for row in eachrow(iDf)
    try
        isbns = pdf[findall(==(row.ISBN), pdf.ISBN), :]
        for isbn in eachrow(isbns)
            author = strip(string(isbn.Author))
            aids = aDf[findall(==(author), aDf.author), :].id
            for aid in eachrow(aids)
                push!(book_authors,[row.id aid])  
            end
        end
    catch e
        println(e)
        println(row)
        continue
    end   
    # fn = aDf[only(findall(==(row.AuthorId), aDf.id)), :].FirstName 
    # ln = aDf[only(findall(==(row.AuthorId), aDf.id)), :].LastName 
    # a = fn * ' ' * ln
    # push!(nSet,a)
end

In [128]:
book_authors = unique(book_authors);

In [129]:
nrow(book_authors)

574

In [130]:
nrow(aDf)

186

In [116]:
CSV.write(".\\book_authors.csv", book_authors)

".\\book_authors.csv"

In [ ]:
df = CSV.read(read("iBooks.csv"), DataFrame; header=[:id, :ISBN, :name, :Price, :rating, :GenreId, :PublisherId, :year,:copies, :description]);

In [ ]:
df.PublisherId = [StatsBase.sample([1,2,3]) for _ in range(start=1, stop=nrow(df))];

In [ ]:
CSV.write(".\\books.csv", df[:,[:ISBN, :name, :Price, :rating, :GenreId, :PublisherId, :year,:copies, :description]]; openquotechar='"', closequotechar='"', escapechar='"', quotestrings=true)

In [ ]:
ba = CSV.read(read("book_authors.csv"), DataFrame);

In [ ]:
first(ba,5)

In [ ]:
aDf = CSV.read(read("iAuthors.csv"), DataFrame; header=["id", "FirstName", "LastName", "Biography", "PublisherId"]);

In [ ]:
#df = CSV.read(read("iBooks.csv"), DataFrame; header=[:id, :ISBN, :name, :Price, :rating, :GenreId, :PublisherId, :year,:copies, :description]);
nrow(aDf)

In [ ]:
aDf = unique(aDf, :id);

In [ ]:
nrow(aDf)

In [ ]:
first(aDf,5)

In [ ]:
first(df,5)

In [ ]:
pubI = Int64[]

In [ ]:
for row in eachrow(ba)
    # print(row.AuthorId)
    author = aDf[only(findall(==(row.AuthorId), aDf.id)), :]
    book = df[only(findall(==(row.BookId), df.id)), :]
    # push!(pubI, book.PublisherId)
    aDf[only(findall(==(row.AuthorId), aDf.id)), :].PublisherId = book.PublisherId
end

In [ ]:
CSV.write(".\\authors.csv", aDf[:,[:id, :FirstName, :LastName, :Biography, :PublisherId]]; openquotechar='"', closequotechar='"', escapechar='"', quotestrings=true)

In [ ]:
df.PublisherId = [StatsBase.sample([1,2,3]) for _ in range(start=1, stop=nrow(df))];